<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://ik.imagekit.io/kf28wicizj/Email%20builder/Easy%20email.png?updatedAt=1737437742774" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  <link rel="stylesheet" href="../style.css">
  <title>Email builder</title>
</head>
<body>
  <div id="main">
    <div id="editor">
      <% items.forEach(item => { %>
        <div class="template-item">
          <% if (item.type === 'text') { %>
            <% if (item.link) { %>
              <a href="<%= item.link %>" target="_blank" rel="noopener noreferrer">
                <p contenteditable="true"><%= item.content %></p>
              </a>
            <% } else { %>
              <p contenteditable="true"><%= item.content %></p>
            <% } %>
          <% } else if (item.type === 'image') { %>
            <% if (item.link) { %>
              <a href="<%= item.link %>" target="_blank" rel="noopener noreferrer">
                <img src="<%= item.content %>" alt="template-image" class="imagesixe" />
                <input type="file">
              </a>
            <% } else { %>
              <img src="<%= item.content %>" alt="template-image" class="imagesixe" />
            <% } %>
          <% } else if (item.type === 'button') { %>
            <% if (item.link) { %>
              <a href="<%= item.link %>" target="_blank" rel="noopener noreferrer">
                <button><%= item.content %></button>
              </a>
            <% } else { %>
              <button><%= item.content %></button>
            <% } %>
          <% } %>
        </div>
      <% }) %>
    </div>
    <div id="drawer">
      <div id="addItems">
        <h1>Add items</h1>
        <div id="buttons">
          <button id="addText">Add text</button>
          <button id="addImage">Add image</button>
          <button id="addButtons">Add buttons</button>
        </div>
        <div class="underline"></div>
      </div>
      <div id="movePosition">
        <h1>Move Position</h1>
        <div id="buttons">
          <button id="moveUp">Move up</button>
          <button id="moveDown">Move down</button>
          
        </div>
        <div class="underline"></div>
      </div>
      <div id="changeDesign">
        <h1>Edit styles</h1>
        <div id="editText">
          <div id="alignment">
            <div><i class="fa-solid fa-bold"></i></div>
            <div><i class="fa-solid fa-italic"></i></div>
            <div><i class="fa-solid fa-underline"></i></div>
          </div>
          <div id="text-size">
            <p>text-size</p>
            <div id="text-size-div">
              <div>xs</div>
              <div>sm</div>
              <div>md</div>
              <div>lg</div>
            </div>
          </div>
          <div id="text-color">
            <p>color</p>
            <input type="color">
          </div>
          <div id="text-size">
            <p>alignment</p>
            <div id="text-size-div">
              <div><i class="fa-solid fa-align-left"></i></div>
              <div><i class="fa-solid fa-align-justify"></i></div>
              <div><i class="fa-solid fa-align-right"></i></div>
            </div>
          </div>
        </div>
        <div id="editimage">
          <p>Image sizing</p>
          <div id="editImage-div">
            <input type="number" name="" id="" placeholder="width">
            <div>X</div>
            <input type="number" name="" id="" placeholder="height">
          </div>
          <button>Apply changes</button>
        </div>
        <div class="underline"></div>
      </div>
      <div id="addLink">
        <h1>Link</h1>
        <form action="">
          <input type="text" name="" id="" placeholder="Link">
          <button type="submit">Add link</button>
        </form>
      <div class="underline"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="../script.js"></script>
</body>
</html>